.greendiv {
	width: 10%;
	height: 10%;
	background-color: green;
}
.fot {

	width: 100%;
	height: 100px;
	background-color: black;

}
.fotText {

	color: white;
	margin-left: 20px;
	margin-top: 50px;
}